<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/create">
    <label>Name
        <input type="text"name="name">
    </label>
    <label>Price
        <input type="text"name="price">
    </label>
    <label>Manufacture Year
        <input type="text"name="manu">
    </label>
    <button type="submit">Create new item</button>
</form>
<form method="post" action="/index">
    <button type="submit">See all items</button>
</form>
</body>
</html>